NEXT_PUBLIC_SUPABASE_URL=https://XXXXXXXX.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=isi_dengan_anon_public_key
# Nomor WhatsApp toko (format internasional tanpa +), contoh: 6281234567890
NEXT_PUBLIC_WA_NUMBER=
